body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  height: 100vh;
}

#login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1db954;
}

#login-screen h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#login-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  color: #fff;
  background-color: #191414;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #191414;
  padding: 20px;
  overflow-y: auto;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.playlist-list div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-list div:hover {
  background-color: #282828;
}

.playlist-list img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.playlist-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#playlist-cover {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
}

#playlist-name {
  font-size: 1.5rem;
}

.now-playing {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #282828;
  padding: 10px;
  border-radius: 5px;
}

#album-cover {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
}

.tracklist div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tracklist div:hover {
  background-color: #282828;
}
